{{!-- сторінка --}}
<div class="page">
  <div class="page-content">
		{{!-- шапка --}}
		<header>
			{{> icon }}
			<nav class="my-nav">
				{{> template1-nav list=header }}
			</nav>
		</header>
		{{!-- шапка --}}
		{{!-- основна частина --}}
		<main>
			<div class="hero">
				<h2>{{hero.title}}</h2>
				<p>{{hero.text}}</p>
			</div>
			<div class="plans">
				<div class="row row-cols-1 row-cols-md-3 g-4">
					{{#each plans}}
						<div class="col">
							<div class='card'>
								<div class="card-header">{{name}}</div>
								<div class='card-body'>
									<div>{{price}}</div>
									{{#each features}}
										<div>{{this}}</div>
									{{/each}} <!-- end of features -->
									<button class="btn {{#if @first}} btn-outline-primary {{else}} btn-primary {{/if}}">{{button}}</button>
							    </div>
							</div>
						</div>
					{{/each}} <!-- end of plans -->
				</div>
			</div>
		</main>
		{{!-- основна частина --}}
		{{!-- підвал --}}
		<footer>
			{{> icon }}
			{{> template1-nav list=footer.0.links isvertical=true }}
		</footer>
		{{!-- підвал --}}
	</div>
</div>