{{!-- шапка --}}
<header class="template-header">
  {{> icon letter='B' }}
  <nav class="my-nav">
    {{> template-nav list=header }}
  </nav>
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main>
  <div class="infm-container">
    <div class="info-block">
      {{#with info}}        
        <h3 class="info-title">{{title}}</h3>
        <p class="info-description">{{description}}</p>
      {{/with}} <!-- end of info -->
    </div>
    <div class="form-block">
      {{#with form}}
        <div class="form-input-container">
          {{#each inputs}}
            <input type={{type}} name="{{name}}" placeholder='{{placeholder}}' id="form-input-{{id}}" class="form-input">
          {{/each}} <!-- end of inputs -->
        </div>
        <div class="form-checkbox">
          <input type="checkbox" id="{{checkbox.name}}"></input>
          <div></div>
          <label for="{{checkbox.name}}">{{checkbox.label}}</label>
        </div>
        <button class="form-button">{{button}}</button>
        <hr>
        <p class="form-text">{{info}}</p>
      {{/with}} <!-- end of form -->
    </div>
  </div>
  <div class="updates-container">
    {{#with updates}}
      <h6 class="updates-title">{{title}}</h6>
      {{#each list}}
        <div class="updates-list-card">
          <div class="updates-list-square">
            <small>32&times;32</small>
          </div>
          <div>            
            <h4 class="updates-list-nickname">{{nickname}}</h4>
            <p>{{description}}</p>
          </div>
        </div>
      {{/each}} <!-- end of list -->
      <a href="{{show_all.url}}">{{show_all.text}}</a>
    {{/with}} <!-- end of updates -->
  </div>
  <div class="expirience-container">
    {{#with expirience}}
      <h3 class="expirience-title">{{title}}</h3>
      <div class="expirience-badge">{{badge}}</div>
        <div>          
        {{#each list}}
          <div class="expirience-list-card">
            <h4 class="expirience-list-name">{{name}}</h4>
            <p class="expirience-list-details">{{details}}</p>
          </div>
        {{/each}} <!-- end of list -->
        </div>
    {{/with}} <!-- end of expirience -->
  </div>
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="template-footer">
  <div class="b-copyright">
    {{> icon letter='B' }}
    <div class="template-footerText">
      Copyright 2023
    </div>
  </div>
  {{#each footer}}
  <div class="template-footerHeaders">
    <div class="template-footerHeader">
      {{title}}
    </div>
    <div class="template-footerLinksText">
      {{> template-nav list=links isvertical=true }}
    </div>
  </div>
  {{/each}} <!-- end of footer -->
</footer>
{{!-- підвал --}}