{{!-- шапка --}}
<header class="template-header">
  {{> icon letter='B' }}
  <nav class="my-nav">
    {{> template-nav list=header }}
  </nav>
</header>
{{!-- шапка --}}
{{!-- основна частина --}}
<main>
  <div class="hero-block-3">
    {{#with hero}}
      <div class="hero-container">
        <h2 class='hero-title-3'>{{title}}</h2>
        <p class='hero-text-3'>{{text}}</p>
      </div>
      <img src="{{photo}}" alt="hero image" class="hero-image">
    {{/with}} <!-- end of hero -->
  </div>
  <div class="blog-block">
      {{#each blog}}
        <div class='blog-card'>
          <img src="{{img}}" alt="blog card image" class="blog-card-image">
          <h2 class='blog-card-title'>{{title}}</h2>
          <p class='blog-card-text'>{{text}}</p>
          <a href="{{href}}" class="blog-card-link">{{button}}</a>
        </div>
      {{/each}} <!-- end of preview -->
  </div>
  <div class="featurette-divider"></div>
  <div class="form-container">
    {{#with form}}
      <div>
        <h3 class="form-title">{{title}}</h3>
        <p class="form-info">{{info}}</p>
      </div>
      <a href="{{href}}" class="form-link">{{button}}</a>
    {{/with}} <!-- end of form -->
  </div>
</main>
{{!-- основна частина --}}
{{!-- підвал --}}
<footer class="template-footer">
  <div class="b-copyright">
    {{> icon letter='B' }}
    <div class="template-footerText">
      Copyright 2023
    </div>
  </div>
  {{#each footer}}
  <div class="template-footerHeaders">
    <div class="template-footerHeader">
      {{title}}
    </div>
    <div class="template-footerLinksText">
      {{> template-nav list=links isvertical=true }}
    </div>
  </div>
  {{/each}} <!-- end of footer -->
</footer>
{{!-- підвал --}}