<div class="features-grid-item flex-column gap-8 {{#if text}}grid-extrow{{/if}}">
  <img src="{{img}}" alt="{{title}}">
  <h5 class="features-grid-title">{{title}}</h5>
  {{#if text}}            
  <p class="features-grid-text">{{text}}</p>
  {{/if}}
  <img src="{{arrow}}" alt="arrow" class="slack-arrow">
</div>